# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache
stats.html
packages/webgal/public/game.old
packages/parser/build
packages/webgal/src/Core/util/pixiPerformManager/initRegister.ts
/gitingest-output
/WebGAL_Doc
scripts/export_gitingest.sh
# 忽略所有 games 目录下的内容
/packages/webgal/public/games/*

# 但不要忽略 defaultgame 目录
!/packages/webgal/public/games/defaultgame

# 不要忽略 defaultgame 目录中的内容
!/packages/webgal/public/games/defaultgame/**
